/* 
--- 01 TYPOGRAPHY
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75

--- 02 COLORS
- Primary: #FFDF28
- Tints: 
- Shades: #e6c924, #332d08
- Accents:
- Greys: #000, #333

--- 05 SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS
Default: 9px

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* *************** */
/* GENERAL */
/* *************** */

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
   overflow-x: hidden;
}

body {
   font-family: "Inter", sans-serif;
   color: #000;
   line-height: 1;
   position: relative;
   overflow-x: hidden;
}

img {
   width: 100%;
}

.container {
   max-width: 120rem;
   margin: 0 auto;
   padding: 0 3.2rem;
}

.grid {
   display: grid;
   gap: 9.6rem;
}

.grid--2-cols {
   grid-template-columns: repeat(2, 1fr);
}

.grid--align-start {
   align-items: start;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
   font-weight: 700;
}

.heading-primary {
   font-size: 8.6rem;
   line-height: 1.05;
   letter-spacing: -1.5px;
   margin-bottom: 2.4rem;
}

.heading-secondary {
   font-size: 4.4rem;
   line-height: 1.2;
   margin-bottom: 9.6rem;
}

.heading-tertiary {
   font-size: 3rem;
   line-height: 1.2;
   margin-bottom: 3.2rem;
}

.subheading {
   display: inline-block;
   font-size: 1.6rem;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   margin-bottom: 1.2rem;
   color: #332d08;
}

.btn,
.btn:link,
.btn:visited {
   display: inline-block;
   text-decoration: none;
   font-size: 2rem;
   font-weight: 500;
   padding: 1.6rem 3.2rem;
   transition: all 0.3s;

   border: none;
   cursor: pointer;
   font-family: inherit;
}

.btn--dark,
.btn--dark:link,
.btn--dark:visited,
.main-nav__link.main-nav__link--cta:link,
.main-nav__link.main-nav__link--cta:visited {
   transition: all 0.3s;
   background-color: #000;
   color: #fff;
}

.btn--dark:hover,
.btn--dark:active,
.main-nav__link.main-nav__link--cta:hover,
.main-nav__link.main-nav__link--cta:active {
   background-color: #333;
}

.btn--ghost:link,
.btn--ghost:visited,
.main-nav__link:link,
.main-nav__link:visited {
   background-color: transparent;
   color: #000;
}

.btn--ghost:hover,
.btn--ghost:active,
.main-nav__link:hover,
.main-nav__link:active {
   background-color: #e6c924;
}

.btn--cta {
   padding: 0 1.6rem;
   align-self: stretch;
}

.list {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 1.6rem;
}

.list-item {
   font-size: 1.8rem;
   display: flex;
   align-items: center;
   gap: 1.6rem;
   line-height: 1.2;
}

.list-icon {
   height: 3.2rem;
   width: 3.2rem;
   stroke: #e6c924;
   stroke-width: 2px;
}

.highlight {
   position: relative;
   width: fit-content;
}

.highlight::after {
   content: "";
   background-color: #ffdf28;
   width: 100%;
   height: 0.5em;
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: -1;
}

/* Utility classes */
.margin-right-sm {
   margin-right: 1.6rem !important;
}

.margin-bottom-md {
   margin-bottom: 4.8rem !important;
}

.text-center {
   text-align: center;
}
